* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #1e293b;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: #00e6e6;
}

/* About Section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 120px 10%;
  background: #0f172a;
}

.about-img img {
  width: 300px;
  border-radius: 20px;
  border: 5px solid #00e6e6;
  transition: .3s;
}

.about-img img:hover {
  transform: scale(1.05);
}

.about-content {
  max-width: 500px;
}

.heading {
  font-size: 40px;
  margin-bottom: 10px;
}

.heading span {
  color: #00e6e6;
}

.about-content h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #00e6e6;
}

.about-content p {
  font-size: 15px;
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  background: #00e6e6;
  color: #0f172a;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 600;
  text-decoration: none;
  transition: .3s;
}

.btn:hover {
  box-shadow: 0 0 20px #00e6e6;
}
