* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #1e293b;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: #00e6e6;
}

/* Portfolio Section */
.portfolio {
  padding: 120px 10%;
  background: #0f172a;
  text-align: center;
}

.heading {
  font-size: 40px;
  margin-bottom: 50px;
}

.heading span {
  color: #00e6e6;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.portfolio-box {
  background: #1e293b;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
}

.portfolio-box img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: 0.3s;
}

.portfolio-box:hover img {
  transform: scale(1.05);
  opacity: 0.8;
}

.portfolio-box:hover {
  box-shadow: 0 0 20px #00e6e6;
}
